:root {
    --fuente1: 'Montserrat', sans-serif;
    --fuente2: 'Open Sans Condensed', sans-serif;
    --color-morado: #6c2ed6;
    --color-blanco: #fff;
}
body {
    font-family: var(--fuente1);
    background-image: url(../resources/img/stars.jpg);
    color: var(--color-blanco);
    margin: 0;
}

/* --------------------HEADER------------------------- */
header {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    font-family: var(--fuente2);
    margin: 0 auto;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu li {
    padding: 5px;
}
.menu li:hover {
    background-color: var(--color-morado);
    transition: .4s;
}
.menu p {
    color: var(--color-blanco);
    font-family: var(--fuente1);
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

/* ---------------------HERO------------------------- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
}
.hero img {
    width: 50%;
    height: 50%;
}
.hero .info {
    width: 400px;
    margin: auto;
}
.hero .info__text h1 {
    font-size: 90px;
    margin: 10px 0;
    font-family: var(--fuente2);
}
.hero .info__text p {
    font-size: 15px;
    margin: 0;
    margin-bottom: 15px;
    line-height: 27px;
}
.hero .buttons {
    display: flex;
    flex-direction: column;
}
.hero button {
    height: 50px;
    margin: 5px 0;
    background: none;
    border: 1px solid white;
    color: var(--color-blanco);
    font-family: var(--fuente1);
    font-weight: bolder;
    font-size: 18px;
}
.hero button:hover {
    background-color: var(--color-morado);
    transition: .5s;
    border: none;
    cursor: pointer;
}

/* ---------------------CARDS------------------------- */
.cards {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.cards div {
    width: 170px;
    margin: 20px 20px;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}
.cards h2 {
    font-size: 15px;
    font-weight: lighter;
    margin: 0em;
}
.cards p {
    font-size: 45px;
    margin: 0;
    font-family: var(--fuente2);
}

@media screen and (max-width:760px ){

}
